@import '../styles/constants';

.wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - $textarea-padding * 2);
  min-height: 100px;
  cursor: text;
  padding: $textarea-padding;
  user-select: none;
}

.cursor {
  max-width: 1px;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
